@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700;800;900&family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
}

.react-calendar button:enabled{
  border-radius: 20px;
}

.react-calendar button:enabled:hover{
  background-color: burlywood;
}


/* .react-calendar__tile--active {
  background: #006edc;
  color: rgb(84, 34, 34);
} */

.react-calendar__tile--now {
  color: rgb(170, 206, 71);
}

.react-calendar__tile--hasActive{
  background: #006edc;
  color: rgb(84, 34, 34);
}